.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.btn{
  margin-left: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

form a {
  margin-left: 50px;
  padding: 10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0x;
}

svg {
    height: 150px;
}

td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 200px;
}